@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&family=Karla:wght@300&family=Montserrat:wght@200&display=swap');

.assignment-card { 
    grid-column: 1/2;
    grid-row: 1/2;
    justify-content: center;
    color: #00224c;
}
.assignment-card-content {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-content: center;
    font-family: 'Karla', sans-serif;
}

body {
    margin: 25px;
    padding: 0;
}
.calendar-card {
    grid-column: 1/2;
    grid-row: 2/3;
    color: #00224c;
    justify-items: center;

}
.calendars-card-content {
    grid-column: 2/3;
    grid-row: 2/3;
    justify-content: center;
    font-family: 'Karla', sans-serif;
}
content { 
    max-width: 960px;
    margin: 2px;
}
footer {
    background-color: #00224c;
    color: white;
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 14px;
    padding: 25px 50px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    color: white;
    text-decoration: underline;
}

header {
    display: grid;
    grid-template-columns: 450px auto;
    background-color: #048040;
    font-family: 'Fuzzy Bubbles', cursive;
    margin: 15px;
 }
 h1 {
    color: #00224c;
    font-size: 36px;
    text-align: center;
    font-family: 'Fuzzy Bubbles', cursive;
}

h2 {
    font-size: 28px;
    font-family: 'Fuzzy Bubbles', cursive;
    color: #00224c;
    padding: 0;
}
.home-grid {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 235px 235px 235px;
    padding: 15px;
    margin-left: 95px;
    margin-right: 95px;
    font-size: 20px;
    row-gap: 45px;
}
.link-card {
    grid-column: 1/2;
    grid-row: 3/4;
    justify-items: center;
    color: #00224c;
}
.link-card-content {
    grid-column: 2/3;
    grid-row: 3/4;
    justify-content: start;
    font-family: 'Karla', sans-serif;
}
.logo{
    width: 100%;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
main {
    margin: auto;
}
nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    background-color:#048040;
    text-align: center;
    font-size: 14px;
    color: white;
    text-decoration: none;
    padding: 50px;
}

nav a:hover {
    background-color: #cbcbcc;
    color: white;
}

p {
    font-family: 'Karla', sans-serif;
    font-size: 24px;
}
.welcome {
    text-align: start;
}

.welcome p {
    display: block;
    margin-left: 95px;
    margin-right: 95px;
    font-size: 24px;
}
.welcome ul {
    display: block;
    margin-left: 95px;
    margin-right: 95px;
}

/* -----------SUB-PAGE: ASSIGNMENTS----------- */
.assignment-grid {
    display: grid;
    grid-template-rows: repeat(3, 800px);
    padding: 15px;
    margin-left: 95px;
    margin-right: 95px;
    font-size: 20px;
    row-gap: 25px;
}  
.assignment-icon {
    grid-row: 1/2;
    grid-column: 1/2;
} 

.assignment-faculty {
    grid-row: 1/2;
}
.assignment-outside {
    grid-row: 2/3;
}
.assignment-soup {
    grid-row: 3/4;
}
.assignment-PDF-Docs {
    margin-left: 95px;
    margin-right: 95px;
}
.welcome-info { 
    display: flex;
    margin-left: 95px;
    margin-right: 95px;
    vertical-align: middle;
    justify-content: center; 
} 

.welcome-info img{
    margin-left: 95px; 
    vertical-align: center; 
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 256px;
    max-height: 256px;
}
/* -----------SUB-PAGE: LINKS----------- */
.links_page {
    margin-left: 95px;
    margin-right: 95px;
}
.school_img {
    margin: 65px;
    text-align: center;
    
}

/* -----------QUOTES SLIDESHOW----------- */
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
/* Slideshow container */
.slideshow-container {
    position: relative;
    background: #f1f1f1f1;
    height: 150px;
    margin-left:95px;
    margin-right: 95px;
  }
  
  /* Slides */
  .mySlides {
    display: none;
    padding: 60px;
    text-align: center;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
  }
  
  /* The dot/bullet/indicator container */
  .dot-container {
    text-align: center;
    padding: 20px;
    background: #ddd;
    margin-left: 95px;
    margin-right: 95px;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  /* Add a background color to the active dot/circle */
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Add an italic font style to all quotes */
  q {font-style: italic;}
  
  /* Add a blue color to the author */
  .author {color: cornflowerblue;}



@media screen and (max-width: 900px) {
    .home-grid {
        display: block;
        height: auto;
    }
    .assignment-grid {
        display: block;
        height: auto;
    }
    .assignment-card, .calendar-card, .link-card { 
        margin: 50px auto;
        width: 60%;
        }

    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    .welcome {
        font-size: 20px;
    }
    #background {
        display: none;
    }
    footer {
        margin-top: 25px;
    }
    .school_img {
        width: 50%;
        margin: 0 auto;
    }
}
          