main p {
    width: 80%;
    margin: 50px auto;
    text-align: center;
  }
    body{
        background-color: pink;
        text-align: center;
        display: block;
    }

    a {
      font-size: 1.5em;
      color: white;
      margin: 40px;

    }
    
    a:hover {
      background-color: pink;
      color: black;
    }
  
    h1 {
      color: white;
      text-align: center;
      font-size: 1em;
    }

    h2 {
        color: white;
        text-align: center;
        font-size: 1.5em
        
    }
    img {
      width: 30%;
      margin: 0 auto;
    }
    p {
      width: 30%;
      padding: 20px;
      text-align: center;
    }
    nav {
      color: white;
      text-align: center;
      font-size: 1.5em;
    }
